:root {
  --turqoise: #a0d1d7;
  --blue-grey: #64859b;
  --dark-blue: #466078;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 15vh 7vh 1fr 10vh;
}

main {
  display: grid;
  grid-template-rows: 70vh 60vh 40vh 60vh;
  background-color: black;
}

#kampanjer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Smallabout {
  color: white;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

#Bestsellers {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Specialist {
  color: white;
  font-size: 20px;
  padding-top: 50px;
}

header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: lightgray;
}

footer {
  background-color: lightgray;
}

h3 {
  color: white;
  padding-top: 100px;
  margin-left: 150px;
  font-size: 40px;
  text-align: left;
}

h4 {
  font-size: 30px;
}
