:root {
  --turqoise: #a0d1d7;
  --blue-grey: #64859b;
  --dark-blue: #466078;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 15vh 7vh 1fr 10vh;
}

main {
  display: grid;
  grid-template-rows: 70vh 40vh 40vh 40vh;
  background-color: white;
}

#kampanjer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Smallabout {
  background-color: white;
  margin-top: 20px;
}

header {
  background-color: var(--turqoise);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: var(--blue-grey);
}

footer {
  background-color: lightgray;
}

h1 {
  color: white;
}
h2 {
  color: white;
}
